.geral{
    background: gray;
    display: flex;
    color: black;
    text-align: center;
}
.img{
    height: 100vh;
    width: 50vw;
    background: url("../../img/rectangleTransp.png"),
                url("../../img/glassWallpaper.png");
    background-repeat: round;
}
.divRespostas{
    height: 100vh;
    width: 50vw;
    background-color: #F5F8FA;
}
.respostas{
    margin-top: 5%;
}
.buttonVoltar{
    margin-top: 5%;
    margin-right: 70%;
    color: #C0C8CD;
}
.buttons{
    display: flex;
    margin: 5% 20%;
    justify-content: space-between;

    button{
        border: transparent;
        color: #F5F8FA !important;
        font-size: 20px;
        width: 14vw;
        height: 6vh;
        margin: 1% 0%;
        border-radius: 8px;
    }        

}

.button1{
    button:hover{
        background-color: #40a5e9 !important; 
   }
}
.button1 > button{
    background-color: #60b1e7;

}

.button2{
    button:hover{
        background-color: #e04e3a !important; 
   }
}
.button2 > button{
    background-color: #e06150;
}