@font-face {
    font-family: Dancing;
    src: url('../../fonts/DancingScript-Regular.ttf');
 }
@font-face {
    font-family: GowunDodun;
    src: url('../../fonts/GowunDodum-Regular.ttf');
}
@font-face {
    font-family: IMFell;
    src: url('../../fonts/IMFellDWPicaSC-Regular.ttf');
}
@font-face {
    font-family: Inter;
    src: url('../../fonts/Inter-VariableFont_slnt\,wght.ttf');
}
@font-face {
    font-family: Pacifico;
    src: url('../../fonts/Pacifico-Regular.ttf');
}
@font-face {
    font-family: Risque;
    src: url('../../fonts/Risque-Regular.ttf');
}
@font-face {
    font-family: Suwannaphum;
    src: url('../../fonts/Suwannaphum-Regular.ttf');
}

.geral{
    background: gray;
    display: flex;
    color: black;
    text-align: center;
}
.img{
    height: 100vh;
    width: 50vw;
    background: url("../../img/rectangleRoxo.png"),
                url("../../img/glassWallpaper.png");
    background-repeat: round;
}
.formResposta{
    height: 100vh;
    width: 50vw;
    background-color: #F5F8FA;
}

.formularioView{    
    margin-top: 25%;
}
.titleQuestion{
    margin-bottom: 2%;
    color: #123952;
    font-size: 24px;
}
.questions{
    color: #DCE2E5;
    font-size: 24px;
}

.fontPadraoTitle > label { font-family: Arial, Helvetica, sans-serif; }
.fontTitle1 > label { font-family: Dancing; }  
.fontTitle2 > label { font-family: GowunDodun; }  
.fontTitle3 > label { font-family: IMFell; }
.fontTitle4 > label { font-family: Inter; }  
.fontTitle5 > label { font-family: Pacifico; }  
.fontTitle6 > label { font-family: Risque; }
.fontTitle7 > label { font-family: Suwannaphum; }

.colorPadraoTitle { color: black }
.colorTitle1 { color: rgb(220,20,60) }
.colorTitle2 { color: rgb(240,230,140) }
.colorTitle3 { color: rgb(138,43,226) }
.colorTitle4 { color: rgb(0,255,127) }
.colorTitle5 { color: rgb(218,165,32) }

.fontPadrao > label { font-family: Arial, Helvetica, sans-serif; }
.font1 > label { font-family: Dancing; }  
.font2 > label { font-family: GowunDodun; }  
.font3 > label { font-family: IMFell; }
.font4 > label { font-family: Inter; }  
.font5 > label { font-family: Pacifico; }  
.font6 > label { font-family: Risque; }
.font7 > label { font-family: Suwannaphum; }

.colorPadrao { color: black }
.color1 { color: rgb(220,20,60) }
.color2 { color: rgb(240,230,140) }
.color3 { color: rgb(138,43,226) }
.color4 { color: rgb(0,255,127) }
.color5 { color: rgb(218,165,32) }

.backgroundPadrao { height: 100vh; width: 50vw; background-color: black }
.background1 { height: 100vh; width: 50vw; background-color: rgb(123,104,238) }
.background2 { height: 100vh; width: 50vw; background-color: rgb(221,160,221) }
.background3 { height: 100vh; width: 50vw; background-color: rgb(233,150,122) }
.background4 { height: 100vh; width: 50vw; background-color: rgb(255,218,185) }
.background5 { height: 100vh; width: 50vw; background-color: rgb(230,230,250) }

.inputs{
    margin: 2% 0%;
    label{
        color: #A0ACB3;
    }
    textarea{
        border: 0.1px solid #DCE2E5;
        width: 20vw;
        height: 12vh;
        margin: 1% 0%;
        border-radius: 8px;
        padding: 1% 1%;
    }
}

.buttons{
    button{
        border: transparent;
        color: #F5F8FA !important;
        font-size: 20px;
        width: 20vw;
        height: 4vh;
        margin: 1% 0%;
        border-radius: 8px;
    }        
}
.button1{
    button:hover{
        background-color: #40a5e9 !important; 
   }
}
.button1 > button{
    background-color: #60b1e7;

}

// .button2{
//     button:hover{
//         background-color: #e04e3a !important; 
//    }
// }
// .button2 > button{
//     background-color: #e06150;
// }

.button3{
    button:hover{
        background-color: #33d114 !important; 
   }
}
.button3 > button{
    background-color: #4cce32
}